{% extends "base.html" %}

<h1>Create an account</h1>

{% block content %}
  	<h1>Create an account</h1>

  		<form action="" method="post" class="form-horizontal">
  			<fieldset>
	  			{% csrf_token %}
	  			{% if errors %}
	  			<div class="control-group error">
	  				<div class="controls">
	  					{% for e in errors %}
	  					<p><span class="help-inline">{{ e }}</span></p>
	  					{% endfor %}
	  				</div>
	  			</div>
	  			{% endif %}
	  			<div class="control-group">
		  			<label class="control-label" for = 'email'>email:</label>
		      		<div class="controls">
		  				<input id='email' type='text' name='email' />
		  				<p class="help-block">Required.</p>
		  			</div>
		  		</div>
		  		<div class="control-group">
		      		<label class="control-label" for="id_username">Username:</label>
		      		<div class="controls">
		      			<input id="id_username" type="text" name="username" maxlength="30" />
		      			<p class="help-block">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
		      		</div>
		  		</div>
		  		<div class="control-group">
		      		<label class="control-label" for="id_password1">Password:</label>
		      		<div class="controls">
			      		<input type="password" name="password1" id="id_password1" />
			      	</div>
		      	</div>
		  		<div class="control-group">
					<label class="control-label" for="id_password2">Password confirmation:</label>
						<div class="controls">
							<input type="password" name="password2" id="id_password2" />
							<p class="help-block">Enter the same password as above, for verification.</p>
						</div>
				</div>

		      		<input type="submit" value="Create the account">
		    </fieldset>
  		</form>
{% endblock %}