body {
	padding-top: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

/*div  {
	border: 2px solid red;
}*/

.large-input {
	width: 98%;
}

#project-form.form-horizontal .control-label, #job-form.form-horizontal .control-label {
	width: 80px;
}

#project-form.form-horizontal .controls,#job-form.form-horizontal .controls {
	margin-left: 100px
}

#project-form.form-horizontal .form-actions, #job-form.form-horizontal .form-actions {
	padding-left: 100px
}

.task-buttons .btn-primary, .task-buttons .cancel {
	float:right;
	margin-left: 5px;
}
.table td.right-row {
	text-align:right;
}
textarea {
	outline: none;
}
#error-message p{
	color:red;
}
div.right {
	visibility:hidden;
}
div.center {
	/*visibility:hidden;*/
}

#job_table tr.completed {
	background-color: gray;
	opacity:0.4;
}

tr.selected {
	background-color: whiteSmoke;
}
input#title {
	font-size:200%;
	height:auto;
}
form.project {

}
h1.h1-center{
	text-align: center;
}
img.img-center{	
	display: block;
    margin-left: auto;
    margin-right: auto;
}
div.background {
	padding:20px;
	background-color: lightgray;
	border-radius: 5px;
	border: 1px solid darkgray;
}
div.background h1{
	margin-bottom: 20px;
}
div.header {
	margin-bottom: 20px;
}
