body {
	padding-top: 50px;
	padding-right: 20px;
}

/*div  {
	border: 2px solid red;
}*/

.large-input {
	width: 98%;
}

.form-horizontal .control-label {
	width: 80px;
}

.form-horizontal .controls {
	margin-left: 100px
}

.form-horizontal .form-actions {
	padding-left: 100px
}

.task-buttons .btn-primary, .task-buttons .cancel {
	float:right;
	margin-left: 5px;
}
.table td.right-row {
	text-align:right;
}
textarea {
	outline: none;
}
#error-message p{
	color:red;
}
div.right {
	visibility:hidden;
}
div.center {
	visibility:hidden;
}
#job_table tr.completed {
	background-color: red;
}