<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Together</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css"rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/css/jquery-ui-1.8.22.custom.css" rel="Stylesheet" />	
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/jquery-ui-1.8.22.custom.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/backbone-min.js"></script>
    <script src="/static/js/handlebars-1.0.0.beta.6.js"></script>
   {% load verbatim %}
    <script id="job_table_template" type="text/x-handlebars-template">
    	{% verbatim %}
			<td>{{ this.order }}</td>
			<td><input type="checkbox" {{#if this.completed}} checked = "checked"{{/if}}></td>
			<td class="title">{{ this.title }}</td>
			<td class = "right-row">></td>
		{% endverbatim %}
    </script>
    <script id="job_app_template" type="text/x-handlebars-template">
    	{% verbatim %}
			<h1 class='project-title'>{{this.title}}</h1>	    
		    <table class="table">
		    	<col width='5%'>
		    	<col width='5%'>
		    	<col width='85%'>
		    	<col width='5%'>
		  	</table>
  			<button class="btn  btn-primary" id='add_job_btn'>Add Job</button>
		{% endverbatim %}
    </script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  	<div class="navbar-inner">
	    	<div class="container">
	      		<ul class="nav">
			  		<li class="active">
			    		<a href="/accounts/login">Login</a>
			  		</li>
			  		<li><a href="/project">Projects</a></li>
			  		<li><a href="/users/registration">Register</a></li>
			  		<li><a href="users/logout">Logout</a></li>

				</ul>
				<ul class="nav pull-right">
					<a class="brand" href="#">
	  				{{ username }}
					</a>
				</ul>
	    	</div>
	  	</div>
	</div>
	<div class="container-fluid" id='app_panel'>
	{% block content %}
		<div class="row-fluid">
		    <div class="span3 left">
		      <!--projects content-->
		      {% block projects %} {% endblock %}   
		    </div>
		    <div class="span5 center" id="job_pannel">
		      	<!--Project content-->
		    	{% block tasks %} {% endblock %}  
		    </div>
		    <div class="span4 right">
		      	<!--Task_details content-->
		      	{% block task_details %} {% endblock %} 
		    </div>
		</div>
	{% endblock %}
	</div> 
	<script src="/static/js/script.js"></script>
	<script src="/static/js/backbone_script.js"></script>
	<script src="/static/js/getCookie.js"></script>
	<script src="/static/js/serializeObject.js"></script>
	<script src="/static/js/models/job.js"></script>
	<script src="/static/js/views/job_views.js"></script>
</body>
</html>


