{% extends "base.html" %}
{% block projects %}
  <button class='btn' id='show-projects'>Show Projects</button>
  <ul id='projects'>
  </ul>
{% endblock %}



{% block tasks %}  
    <h1 class='project-title'></h1>	    
    <table class="table">
    	<col width='5%'>
    	<col width='5%'>
    	<col width='85%'>
    	<col width='5%'>
    	<tbody id='job_table'>
   	    	
  		</tbody>
  	</table>
  	<button class="btn btn-info" id='add_job_btn'>Add job</button>
{% endblock %}




{% block task_details %}  
<form class="form-horizontal" id='job-form' name = 'job-form'>
  <fieldset >
  	<div class="control-group task-buttons">
  		<button class="btn btn-success" id='completed'><i class="icon-ok icon-white"></i> Mark completed</button>
  		<button class="btn btn-primary" id="submit-job">Submit</button>
  		<button class="btn cancel">Cancel</button>
    </div>
    <div class="control-group">
    	<input type='hidden' value='' name='job_id'>
    	<input type='hidden' value={{project.id}} name='project_id'>
    	<input type="text" class="large-input" id="title" placeholder='Add a job' name='title'>
    </div>
    <div class="control-group">
    	<textarea class="large-input" id="note" rows='3' placeholder='You can add some notes. Even some links!' name='note'></textarea>  <!-- |safe -->
    </div>
    <div class="control-group">
      <label class="control-label" for="due_date">Due Date</label>
      <div class="controls">
        <input type="date"  id="due_date" name='due_date'>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="assign_to">Assign To</label>
      <div class="controls">
        <input type="text" id="assign_to" name='assign_to'>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
