{% extends "base.html" %}
{% block projects %}
  <button class='btn' id='show-projects'>Show Projects</button>
  <table class="table">
    <col width='95%'>
    <col width='5%'>
    <tbody id='project_table'>
        
    </tbody>
  </table>
  <button class="btn btn-info" id='add_project_btn'>Add Project</button>
{% endblock %}



{% block tasks %}  
    <h1 class='project-title'></h1>	    
    <table class="table">
    	<col width='5%'>
    	<col width='5%'>
    	<col width='85%'>
    	<col width='5%'>
    	<tbody id='job_table'>
   	    	
  		</tbody>
  	</table>
  	<button class="btn btn-info" id='add_job_btn'>Add Job</button>
{% endblock %}




{% block task_details %}
<!--Form for Porjects-->
<form class="form-horizontal" id='project-form' name='project-form'>{% csrf_token %}
  <fieldset >
    <div class='control-group' id='error-message'>
    </div>
    <div class="control-group">
      <!-- <input type='hidden' value='' name='project_id'> -->
      <input type="text" class="large-input" id="title" placeholder='Add a Project' name='title'>
    </div>
    <div class="control-group">
      <textarea class="large-input" id="details" rows='3' placeholder='You can add some notes. Even some links!' name='details'></textarea>  <!-- |safe -->
    </div>
    <div class="control-group">
      <button class="btn btn-primary" id="submit-project">Submit</button>
      <button class="btn cancel" id='delete-project'>Delete Project</button>
    </div>
  </fieldset>
</form>

<!--Form for Jobs-->
<form class="form-horizontal" id='job-form' name = 'job-form'>{% csrf_token %}
  <fieldset >
  	<div class="control-group task-buttons">
  		<button class="btn btn-success" id='completed'><i class="icon-ok icon-white"></i> Mark completed</button>
    </div>
    <div class='control-group' id='error-message'>
    </div>
    <div class="control-group">
    	<input type='hidden' value='' name='project_id'>
    	<input type="text" class="large-input" id="title" placeholder='Add a job' name='title'>
    </div>
    <div class="control-group">
    	<textarea class="large-input" id="note" rows='3' placeholder='You can add some notes. Even some links!' name='note'></textarea>  <!-- |safe -->
    </div>
    <div class="control-group">
      <label class="control-label" for="due_date">Due Date</label>
      <div class="controls">
        <input type="date"  id="due_date" name='due_date'>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="assign_to">Assign To</label>
      <div class="controls">
        <input type="text" id="assign_to" name='assign_to'>
      </div>
    </div>
    <div class="control-group">
      <button class="btn btn-primary" id="submit-job">Submit</button>
      <button class="btn cancel" id='delete-job'>Delete Job</button>
    </div>
  </fieldset>
</form>
{% endblock %}
